@font-face {
    font-family:"Niconne-Regular";
    src: url("../assets/fonts/Niconne-Regular.ttf") /* TTF file for CSS3 browsers */
}
.flexdiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/*Header css*/
.header{
  z-index: 10;
  position: fixed;
  width: 100%;
}
.headertitle{
  margin-left: 5%;
  color: white;
}
.profile{
  max-width: 30px;
  max-height: 30px;
}
/*Maincontent css*/
.gridcontainer{
  width: 100%;
}
.grid{
  width: 100%;
}
.pageheading{
  font-size: 6em;
  font-family: "Niconne-Regular",sans-serif;
}
@media screen and (min-width: 500px) {
  .responsive-circle {
      font-size: 30px;
      font-weight: 700;
      min-width: 200px;
      min-height: 200px;
      margin: 0 auto 20px;
      width: 80%;
  }
  .circleheading{
    width: 250px;
    height: 250px;
    border: 10px inset white;
    border-radius: 50%;
  }
  .about{
    color: white;
    background-color: #f7484e;
    height: 100vh;
  }
  .aboutcontents{
    height: 100vh;
  }
  .work{
    color: white;
    background-color: #5cb85c;
    height: 100vh;
  }
  .workcontents{
    height: 100vh;
  }
  .contact{
    color: white;
    background-color: #5bc0de;
    height: 100vh;
  }
  .contactcontents{
    height: 100vh;
  }
}
@media screen and (max-width: 500px) {
  .responsive-circle {
      font-size: 40px;
      font-weight: 700;
      margin: 0 auto 20px;
      width: 80%;
  }
  .about{
    color: white;
    background-color: #f7484e;
    margin-top: 30px;
    height: 20vh;
  }
  .work{
    color: white;
    background-color: #5ad75a;
    height: 15vh;
  }
  .contact{
    color: white;
    background-color: #5bc0de;
    height: 15vh;
  }
}

.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    padding-bottom: 90%;
    width: 100%;
    border: 10px #b9b9b9 solid;
}
.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}
.firstcircle::after{
  background-color: #f7484e;
}
.secondcircle::after{
  background-color: #5ad75a;
}
.thirdcircle::after{
  background-color: #5bc0de;
}

.circletext{
  color: white;
  font-size: 40px;
}
.gridrow{
  margin: 20px;
}

/*Footer*/
.linkedinlink .linkedinlink:hover, .linkedinlink:active, .linkedinlink:focus{
  outline: none;
}
.linkedin{
  border: 0px;
  max-width: 40px;
  max-height: 40px;
}
.social{
  margin-top: 80px;
  margin-bottom: 80px;
}
