body{
  margin:0;
  padding: 0;
}
#nav, #nav2 {
  position: relative;
}
#nav ul, #nav2 ul {
  display: none;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#nav ul li a,#nav2 ul li a {
  display: block;
  padding: 1em;
  background: #0F9962;
  color: white;
  text-decoration: none;
}
#nav ul,#nav2 ul {
  display: flex;
  flex-direction: row;
}
#nav ul li,#nav2 ul li {
  position: relative;
  text-align: center;
  flex: 1;
}
#nav .active,#nav2 .active{
  background-color: red;
}
.slider{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headericon{
  display: -webkit-flex;
	display: flex;
  justify-content: center;
  flex-direction: row;
  width:100%;
  height:50px;
}

.headerlogo{
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ff3232;
  color: white;
  font-size: 18px;
  width:80%;
  height: 40px;
  border: 2px red dotted;
  margin: 4px;
}

.playbackcontainer{
  width:100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.playicon{
  width:30px;
  height: 30px;
  padding: 5px;
}
.playiconmain{
  width:45px;
  height: 45px;
  padding: 5px;
}

.videotitlecontainer{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}

.videotitle{
  float: left;
  font-weight: bold;
  color: #ff3232;
  margin: 10%;
}
.ordercontainer{
  display: -webkit-flex;
	display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:100px;
}

.orderbox{
  margin: 10px;
  width:90%;
  height:80%;

}

.ordericon{
  float: left;
  width:25%;
  height: 100%;

}
 .ordericonimg{
   max-width: 100px;
   width:100%;
   height: 100%;
 }
.itunes{
  float:right;
  display: -webkit-flex;
	display: flex;
  justify-content: center;
  flex-direction: column;
  width:75%;
  height: 50%;

}
.physical{
  float:right;
  display: -webkit-flex;
	display: flex;
  justify-content: center;
  flex-direction: column;
  width:75%;
  height: 50%;
  }

.sociallogin{
  display: -webkit-flex;
	display: flex;
  display: -webkit-flex;
	display: flex;
  display:-ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:100px;

}

.socialcontainer{
  width:90%;
  height:80%;
  display: -webkit-flex;
	display: flex;
  display:-ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}
.socialicon{
  float:left;
  width:10%;
  padding: 2%;
  max-width: 100px;
  height: auto;
  align-self: center;
}
.socialsignup{
  float:left;
  width: 30%;
  max-width: 150px;
  height: auto;
  align-self: center;
}
.socialimg{
  width: 100%;
	height: 100%;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 12px;
    border-radius: 11px;
    background: #080000;
    background: -webkit-gradient(linear, left top, left bottom, from(#080000), to(#575656));
    background: -moz-linear-gradient(top, #080000, #575656);
    background: linear-gradient(to bottom, #080000, #575656);
    text-shadow: #591717 1px 1px 1px;
    font: normal bold 15px arial;
    color: #ffffff;
    text-decoration: none;
}


.button:after{
    content:  "\0000a0";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 20px -6px 14px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("../assets/arrowwhite.png") no-repeat left center transparent;
    background-size: 100% 100%;
}

.footernotes{
  font-weight: bold;
  font-size: 14px;
}
